Testo pulsante;Testo basket;Prezzo //Massimo 22 caratteri
Polenta e mortadella;Polenta e Mortadella;6
Polenta e salame
;Polenta e Salame;5
Polenta e formaggio;Polenta e Formaggio;5
Panino salame;Panini Salame;3
Panino formaggio;Panini Formaggio;3
Panino porchetta;Panini Porchetta;4
Panino wurstel;Panino Wurstel;4
Panino onto;Panini con Salsiccia Cipolla e salsa;5
Panino hamburger;Panino Hamburger;5
Wurstel e patatine;Wurstel e Patatine Fritte;5
Patatine fritte;Patatine Fritte ;2.5
Roastbeef;Roastbeef;8
Torta Sant Honorè;Torta SantHonorè;3